<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Manrope%3Awght%40400%3B500%3B700%3B800&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-slate-50 group/design-root overflow-x-hidden" style='font-family: Manrope, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#e7edf4] px-10 py-3">
          <div class="flex items-center gap-4 text-[#0d141c]">
            <div class="size-4">
              <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M36.7273 44C33.9891 44 31.6043 39.8386 30.3636 33.69C29.123 39.8386 26.7382 44 24 44C21.2618 44 18.877 39.8386 17.6364 33.69C16.3957 39.8386 14.0109 44 11.2727 44C7.25611 44 4 35.0457 4 24C4 12.9543 7.25611 4 11.2727 4C14.0109 4 16.3957 8.16144 17.6364 14.31C18.877 8.16144 21.2618 4 24 4C26.7382 4 29.123 8.16144 30.3636 14.31C31.6043 8.16144 33.9891 4 36.7273 4C40.7439 4 44 12.9543 44 24C44 35.0457 40.7439 44 36.7273 44Z"
                  fill="currentColor"
                ></path>
              </svg>
            </div>
            <h2 class="text-[#0d141c] text-lg font-bold leading-tight tracking-[-0.015em]">CareerConnect</h2>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <div class="flex items-center gap-9">
              <a class="text-[#0d141c] text-sm font-medium leading-normal" href="#">Browse</a>
              <a class="text-[#0d141c] text-sm font-medium leading-normal" href="#">Salary</a>
            </div>
            <div class="flex gap-2">
              <button
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#0c7ff2] text-slate-50 text-sm font-bold leading-normal tracking-[0.015em]"
              >
                <span class="truncate">Sign up</span>
              </button>
              <button
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#e7edf4] text-[#0d141c] text-sm font-bold leading-normal tracking-[0.015em]"
              >
                <span class="truncate">Log in</span>
              </button>
            </div>
          </div>
        </header>
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="@container">
              <div class="@[480px]:p-4">
                <div
                  class="flex min-h-[480px] flex-col gap-6 bg-cover bg-center bg-no-repeat @[480px]:gap-8 @[480px]:rounded-lg items-center justify-center p-4"
                  style='background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%), url("https://lh3.googleusercontent.com/aida-public/AB6AXuAmcWDh_NbNBkedf-Mnh4SAOeVawqyOGYPi648GtUzmmDnxxOUT18z2DuP7q7bKJwjmwRPdRp3oAnPv0oZZXBGYh696xylcn231nDysMMjEwHMqFuVeZQ_OyUksvwDldlqR7fbhTXAv1h9hdRvLaJ1pbJvWFMbAJL_eBzXrlnGKndlyedYm_jc6F0OFj0k8eQCzOsvtcY6NwX3QyWGZ0M4UdY0mr6Twe3KIYpBVKDpO2hVVWW-z7BMaQlyTIB0EnuMgKzlFyMYpT8g");'
                >
                  <div class="flex flex-col gap-2 text-center">
                    <h1
                      class="text-white text-4xl font-black leading-tight tracking-[-0.033em] @[480px]:text-5xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em]"
                    >
                      Find the right job or internship for you
                    </h1>
                    <h2 class="text-white text-sm font-normal leading-normal @[480px]:text-base @[480px]:font-normal @[480px]:leading-normal">
                      CareerConnect is the #1 way college students find internships.
                    </h2>
                  </div>
                  <div class="flex-wrap gap-3 flex justify-center">
                    <button
                      class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-[#0c7ff2] text-slate-50 text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em]"
                    >
                      <span class="truncate">Post a job</span>
                    </button>
                    <button
                      class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-[#e7edf4] text-[#0d141c] text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em]"
                    >
                      <span class="truncate">Apply for a job</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <h2 class="text-[#0d141c] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Browse jobs by</h2>
            <div class="pb-3">
              <div class="flex border-b border-[#cedbe8] px-4 gap-8">
                <a class="flex flex-col items-center justify-center border-b-[3px] border-b-[#0c7ff2] text-[#0d141c] pb-[13px] pt-4" href="#">
                  <p class="text-[#0d141c] text-sm font-bold leading-normal tracking-[0.015em]">Community</p>
                </a>
                <a class="flex flex-col items-center justify-center border-b-[3px] border-b-transparent text-[#49739c] pb-[13px] pt-4" href="#">
                  <p class="text-[#49739c] text-sm font-bold leading-normal tracking-[0.015em]">District</p>
                </a>
                <a class="flex flex-col items-center justify-center border-b-[3px] border-b-transparent text-[#49739c] pb-[13px] pt-4" href="#">
                  <p class="text-[#49739c] text-sm font-bold leading-normal tracking-[0.015em]">City</p>
                </a>
                <a class="flex flex-col items-center justify-center border-b-[3px] border-b-transparent text-[#49739c] pb-[13px] pt-4" href="#">
                  <p class="text-[#49739c] text-sm font-bold leading-normal tracking-[0.015em]">Department</p>
                </a>
              </div>
            </div>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBJl5Ove7QTp2uAx4dlRvjntUVpTiQzjnlUooG82cQgt1Slt2C-mY0zKrNpjfBmN09sQnthYfuJAEnXGZELCvCf1x3c_MyGFGpb5nNJmqAJFtRodd4Mu9x4c_bvUH_3uKz0yWVoJbszAiZ_IOmRT9sBsBtLgUEd_BMQ4lZ9-cdCUKZel3thNmt4PcxJm-pieoWXU_ktP7wINP7mMeW_jWAy-PaaXGzJyBmw9IuiHj7Uy-IttLPbNGIqfRQEPiO4y--BIoMNDcvGVGM");'
                ></div>
                <p class="text-[#0d141c] text-base font-medium leading-normal">Engineering</p>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCr-aLd0bBKcjsgm-zzB2GfVzOuovYZRF7URV1fKAUU-sKmlDVup19my7oIaBaq9VEX_tkf1JkvkDYVLK1ybXMUFel9DFw9hTkdtcb2_4fJqSTZyzOE3TmWlB7ClKjGIjtoWfmWmwfAXD9TBRVYykgnigxH7Zi-AUE19KGUogwoTDw-605k7iQIFMfytjhpWcB4tm7Rx9h8zN-CPIpWIkBWRV4VpjoheeQuSRWrql6SVHfUdoeWN0EA5KekiLdD8aHn28mB7YMIUOY");'
                ></div>
                <p class="text-[#0d141c] text-base font-medium leading-normal">Product</p>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuC61qC5hUqZirtmlqDHmuNbLrMWNFJrqBgEzuIkAKB39GSU_OoVM8JYZeJbogjSV36VJvYVXduVxolgzc1fiBxVd2nsRAWpSR8AZzEyaOMc2WEsjkIznejLi7oWf9RiYKua8A3TBuPinmebLukBSPOMSz6jzFgfIBAU3Ufcgjeu5zdco1r7BmG0MHVeicDD6QNUhpSlziqKQbOm6TTE1HflfUjKo3hZmXdr0FKeJfJtRs2HcB4MWGjYyR5Bi9bE8htau5paODAUtNc");'
                ></div>
                <p class="text-[#0d141c] text-base font-medium leading-normal">Design</p>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCC8pDwhnLSfAqPYgi5tqQFiLN51xGlM5n8NruXBIW10KEdrnN1aGEk8fZPhqOke7z2BvjQ_aKwFnc7hklWFVWjIOuI-uvOv-WNPucLkxhGK3prhZLzQYfJCOSe20qfSJelz0oPQi4-xL19zLYWZFYInFw1acD-orfIfegOF0nowjfR5nabKw0W3InaarH57XHlkULYgaXfGyyb5r3jcznO85nbGzfjH5CBdUSMYWzOzRD01d9CQCAdafaLpF3fW2yQroMIGWDVumw");'
                ></div>
                <p class="text-[#0d141c] text-base font-medium leading-normal">Marketing</p>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuB7zkn_ErkT7UaOGdsfOkW7aW9zXlGIDY_VK0Gu_SrE6tbd1TY3_ETXAZc2pBN7XI-Q2OWoQnZvXxKiSwPZy_Ayqa-wpot1ArzjxNksjSv_sRRooA5s9D9KBFD8vMwOP9wQcc1xtwzAk5-vADzRrUrF0dH3mgFkbcDcQEPk2mP1J1k8zWf__XOzMx69JKUPZKNOi7b8UvbW00MMsInXAY1aYadDpgf_Cli1ghWz6slTVW7KF3UvU8HMu46Xyf2ee2eDAbgyCPeSvZA");'
                ></div>
                <p class="text-[#0d141c] text-base font-medium leading-normal">Sales</p>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDLQIFYOR9_Ambo4VGwHQvkTIcol6DSRaBBBmH8T3PTxMMdPaGX2sUA0w1kLGNCzrmp3h2xXx85vfMd6w9ElbmTlMtsyfMGQyPXKivLpLf5jxQD_2zv4-YBJA-D_HTwtg3xaSZeeUgxtiSSRuE-HgbeTQU9AMThVU1OsXEZNSmxLFLJCBnncEwgznuUS09hc4CU_FkaowLRpSav-H-oGvs1kvRjrcMpeZBrk5tlHqJqdX9C6ODi6PTlOPhaqcaq_O2690vLpBXimaU");'
                ></div>
                <p class="text-[#0d141c] text-base font-medium leading-normal">Operations</p>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDOG0kwBNLmDR4pxSrvVOrjYXweywJzEWdsQ21aYSxIhhQRz2Jxo-u3rA4_TSkyjplgD8lBUP0jD9smgQQtmkMuNzMT5fN0gGBbI99Atu9zPLJRsHleeU3eUjMRlVlr-l0bQgb9fbQfY4UgJEpvUIeQBFr_HAfD_T3xjT9x1R4HScITz5ww-IRm5bSMtWZfHB_RaJ6QLZso9QKodyulAAnm27AdCojZnCcMpXmr6TiKvxS0KICEdEmvqUj89PEipk0WIPLMcc1-6ZE");'
                ></div>
                <p class="text-[#0d141c] text-base font-medium leading-normal">Finance</p>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDMRl4KE6iO2k-J5iM5nYFnFn5cvQhCAkJ2FUCUC3oGASenrLd94geLxaRDnV06FYBXNtB47KxVB3eTL4cVY7rjkabt8aNNumKLpqaEMwobtFA6iz0k24zhf0NtxSjf2AzYvd_IECDpbYwiW1LkVHxFU4WUSeCMq3qkC-8uXhImw72bIAvKT0hPXvAyQR0YLrehrFAL7As7gLqcg5BR9_SKfjFrnW7YgZWefMOC401GiZinQuJTqD4tZ1PEG3jYYHPn3T8R6z3H2xE");'
                ></div>
                <p class="text-[#0d141c] text-base font-medium leading-normal">Legal</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
